* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body
{
	font-family: 'PT Serif', serif;
	text-align: center;
}

h1 
{
	text-align: center;
	font-size: 3em;
}

#hide
{
    display: none;
}

.image 
{
    text-align: center;
    align-content: center;
    background: lightgrey;
    width: 40%;
    height: 50vh;
    margin: 0 30% 0 30%;
}

.captions
{
    font-family: font-family: 'PT Serif', serif;
    font-size: 2em;
}

.ghost {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #5b39ca;
    border-radius: 5px;
    border: 1px solid #5b39ca;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
      color 0.2s ease-out;
      
      margin: 0 15px 30px 15px;
  }
  
  .ghost:hover,.ghost:active {
    
    background-color: #5b39ca;
    color: white;
    transition: background-color 0.2s ease-in,
    color 0.3s ease-in;
  }

